<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lectorbarras">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_plane_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LectorBarras"
        android:usesCleartextTraffic="true">
        <activity android:name=".TableActivity"></activity>
        <activity android:name=".ListaContadosActivity" />
        <activity android:name=".GenerarCodigoActivity" />
        <activity android:name=".EstadoPCActivity" />
        <activity android:name=".ListaMediosActivity" />
        <activity android:name=".ItemRowActivity" />
        <activity android:name=".FichaTecnica" />
        <activity android:name=".CountMensualActivity" />
        <activity android:name=".EditarActivity" />
        <activity
            android:name=".lista_item_medios"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaMediosActivity" />
        </activity>
        <activity
            android:name=".NuevoActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".UbicacionActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".VerActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaMediosActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Capture"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />
    </application>

</manifest>